# Node modules
/node_modules/

# Build output
/.next/
/out/
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.*.local

# Mac system files
.DS_Store

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# npm cache
.npm

# Optional npm/yarn files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Test coverage
coverage/

# Misc
*.log
*.tmp
